:root{
/* === Color Variables === */
    --primary-color: lch(24.04% 88.8 310.72);
    --secondary-color: lch(60.08% 72.97 131.82);
    --black-color: lch(8.87% 0.52 19.29);
    --white-color: lch(93.35% 1.42 19.06);
    --font-family: 'Arial, sans-serif'; 

/* === Font Size Variables === */
    --font-size-small: clamp(12px, 1.5vw, 16px);
    --font-size-medium: clamp(16px, 2vw, 20px);
    --font-size-large: clamp(24px, 3vw, 32px);

/* === Spacing Variables === */
    --spacing-small: clamp(4px, 2vw, 8px);
    --spacing-medium: clamp(12px, 3vw, 24px);
    --spacing-large: clamp(24px, 4vw, 48px);  

/* === Border Radius Variables === */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 16px;    

/* === Box Shadow Variables === */
    --box-shadow-light: 0 1px 3px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.1);
    --box-shadow-heavy: 0 10px 20px rgba(0, 0, 0, 0.2);
    
/* === Transition Variables === */
    --transition-fast: all 0.2s ease-in-out;
    --transition-medium: all 0.4s ease-in-out;
    --transition-slow: all 0.6s ease-in-out;

/* === Typography Variables === */
    --title: 'Helvetica Neue', sans-serif;
    --paragraph: 'Georgia', serif;
    
}

/* === Reset CSS === */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--white-color);
    color: var(--black-color);
}

/* === main container for container queries === */
.container {
    container-type: inline-size;
    container-name: main-container;  
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-medium);
}

/* === Header === */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: var(--spacing-large);
}
.navbar a {
    color: var(--white-color);
    text-decoration: none;
    margin: 10px;
}
.link-nav a {
    margin: 10px;
    font-size: var(--font-size-medium);
}

:is(.link-nav a:hover, .link-nav a:focus) {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

/* === Hero Section === */
.hero-section {
    padding: var(--spacing-large);
    text-align: center;
    overflow: hidden;
}

.hero-content h1 {
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-medium);
    --color-feature: var(--secondary-color);
}

.hero-content:has(.btn:hover) h1 {
    --color-feature: var(--primary-color);
}

.hero-content p {
    color: var(--color-feature);
    font-size: var(--font-size-medium);
    max-width: 600px;
    margin-bottom: var(--spacing-large);
}
.btn {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
.btn:hover {
    background-color: var(--primary-color);
}
a.btn {
    color: var(--white-color);
    text-decoration: none;
}