:root{
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --black-color: #000000;
    --white-color: #ffffff;
    --font-family: 'Arial, sans-serif'; 
}

body {
    font-family: var(--font-family);
    background-color: var(--white-color);
    color: var(--black-color);
    margin: 0;
    padding: 0;
}
h1 {
    color: var(--primary-color);
}
p {
    color: var(--black-color);
}
button {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
}